.cm-theme-dark .cm-editor {
  background-color: #282c34 !important;
}

.cm-theme-dark .cm-scroller {
  background-color: #282c34 !important;
  overflow: overlay !important;
  scrollbar-gutter: auto;
}

.cm-theme-dark .cm-scroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent !important;
}

.cm-theme-dark .cm-scroller::-webkit-scrollbar-track {
  background: transparent !important;
}

.cm-theme-dark .cm-scroller::-webkit-scrollbar-corner {
  background: transparent !important;
}

.cm-theme-dark .cm-scroller::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.28) !important;
  border-radius: 8px;
}

.cm-theme-dark .cm-scroller::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.42) !important;
}
